USE [master]
GO
/****** Object:  Database [Venture]    Script Date: 2020-06-24 4:44:06 PM ******/
CREATE DATABASE [Venture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Venture', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Venture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Venture_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Venture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Venture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Venture]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2020-06-24 4:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 2020-06-24 4:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[AgentId] [int] IDENTITY(1,1) NOT NULL,
	[SIN] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LoggedInUserName] [nvarchar](20) NOT NULL,
	[StreetAddress] [nvarchar](30) NOT NULL,
	[Municipality] [nvarchar](30) NOT NULL,
	[Province] [nvarchar](30) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[HomePhoneNumber] [nvarchar](10) NOT NULL,
	[CellPhoneNumber] [nvarchar](10) NOT NULL,
	[OfficeEmail] [nvarchar](150) NOT NULL,
	[OfficePhoneNumber] [nvarchar](10) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Agent] PRIMARY KEY CLUSTERED 
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildingType]    Script Date: 2020-06-24 4:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingType](
	[BuildingTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BuildingType] PRIMARY KEY CLUSTERED 
(
	[BuildingTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2020-06-24 4:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[BirthDay] [datetime] NOT NULL,
	[StreetAddress] [nvarchar](25) NOT NULL,
	[Municipality] [nvarchar](25) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[CustomerProv] [int] NOT NULL,
	[custCountry] [int] NOT NULL,
	[HomePhone] [nvarchar](15) NULL,
	[CellPhone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[CheckId] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 2020-06-24 4:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Approved] [bit] NOT NULL,
	[ListingId] [int] NULL,
	[Path] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listing]    Script Date: 2020-06-24 4:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listing](
	[ListingId] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Baths] [int] NOT NULL,
	[Beds] [int] NOT NULL,
	[StreetAddress] [nvarchar](max) NOT NULL,
	[Municipality] [nvarchar](max) NOT NULL,
	[Province] [nvarchar](max) NOT NULL,
	[PostalCode] [nvarchar](max) NULL,
	[SquareFeet] [int] NOT NULL,
	[CityArea] [nvarchar](max) NOT NULL,
	[Summary] [nvarchar](max) NOT NULL,
	[HeatingType] [nvarchar](max) NOT NULL,
	[HasFireplace] [bit] NOT NULL,
	[HasGarage] [bit] NOT NULL,
	[ContractSigned] [bit] NOT NULL,
	[AgentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Listing] PRIMARY KEY CLUSTERED 
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 2020-06-24 4:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Username] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Login] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2020-06-24 4:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agent] ON 

INSERT [dbo].[Agent] ([AgentId], [SIN], [FirstName], [MiddleName], [LoggedInUserName], [StreetAddress], [Municipality], [Province], [PostalCode], [HomePhoneNumber], [CellPhoneNumber], [OfficeEmail], [OfficePhoneNumber], [DateOfBirth], [LastName]) VALUES (1, N'123-456-789', N'Kevin', NULL, N'kevinwnb', N'111 Parkdale Dr', N'Moncton', N'NB', N'E1C 4K8', N'5817028646', N'5817028646', N'kevinwnb@gmail.com', N'5817028646', CAST(N'1996-03-17T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Agent] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName], [MiddleName], [BirthDay], [StreetAddress], [Municipality], [PostalCode], [CustomerProv], [custCountry], [HomePhone], [CellPhone], [Email], [CheckId]) VALUES (1, N'Marvin', N'Smith', NULL, CAST(N'1996-01-01T00:00:00.000' AS DateTime), N'123 Main Street', N'Moncton', N'E1C 4K8', 0, 0, NULL, N'2345435935', N'marvinsmith@mail.com', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageId], [Name], [Approved], [ListingId], [Path]) VALUES (10, N'img1.jpg', 1, 9, N'..\..\Uploads\img1.jpg')
INSERT [dbo].[Image] ([ImageId], [Name], [Approved], [ListingId], [Path]) VALUES (11, N'img2.jpg', 1, 10, N'..\..\Uploads\img2.jpg')
INSERT [dbo].[Image] ([ImageId], [Name], [Approved], [ListingId], [Path]) VALUES (12, N'img3.jpg', 1, 11, N'..\..\Uploads\img3.jpg')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Listing] ON 

INSERT [dbo].[Listing] ([ListingId], [Price], [Baths], [Beds], [StreetAddress], [Municipality], [Province], [PostalCode], [SquareFeet], [CityArea], [Summary], [HeatingType], [HasFireplace], [HasGarage], [ContractSigned], [AgentId]) VALUES (9, CAST(200000.00 AS Decimal(18, 2)), 2, 3, N'111 Parkdale Dr', N'Moncton', N'NB', N'E1C 4K8', 2345, N'Moncton', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', N'oven', 0, 0, 0, 1)
INSERT [dbo].[Listing] ([ListingId], [Price], [Baths], [Beds], [StreetAddress], [Municipality], [Province], [PostalCode], [SquareFeet], [CityArea], [Summary], [HeatingType], [HasFireplace], [HasGarage], [ContractSigned], [AgentId]) VALUES (10, CAST(200000.00 AS Decimal(18, 2)), 2, 4, N'123 Main Street', N'Riverview', N'NB', N'E1C 4K8', 2345, N'Moncton', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', N'Electric', 1, 1, 0, 1)
INSERT [dbo].[Listing] ([ListingId], [Price], [Baths], [Beds], [StreetAddress], [Municipality], [Province], [PostalCode], [SquareFeet], [CityArea], [Summary], [HeatingType], [HasFireplace], [HasGarage], [ContractSigned], [AgentId]) VALUES (11, CAST(200000.00 AS Decimal(18, 2)), 1, 2, N'321 Avocado Street', N'Riverview', N'NB', N'E1C 4K8', 2345, N'Moncton', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', N'Electric', 0, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Listing] OFF
GO
INSERT [dbo].[Login] ([Username], [Password], [RoleId]) VALUES (N'kevinwnb', N'secret', 5)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Manager')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Agent')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Broker')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
/****** Object:  Index [IX_ListingId]    Script Date: 2020-06-24 4:44:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingId] ON [dbo].[Image]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AgentId]    Script Date: 2020-06-24 4:44:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_AgentId] ON [dbo].[Listing]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2020-06-24 4:44:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Login]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((0)) FOR [SquareFeet]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((0)) FOR [HasFireplace]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((0)) FOR [HasGarage]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((0)) FOR [ContractSigned]
GO
ALTER TABLE [dbo].[Listing] ADD  DEFAULT ((0)) FOR [AgentId]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Image_dbo.Listing_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listing] ([ListingId])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_dbo.Image_dbo.Listing_ListingId]
GO
ALTER TABLE [dbo].[Listing]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listing_dbo.Agent_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agent] ([AgentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listing] CHECK CONSTRAINT [FK_dbo.Listing_dbo.Agent_AgentId]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Login_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_dbo.Login_dbo.Role_RoleId]
GO
USE [master]
GO
