
@{
                /**/

                ViewBag.Title = "MoveFileDisplay";
}

<h1>@ViewBag.Msg</h1>


@if (String.IsNullOrEmpty(ViewBag.Msg))
{
    <h2>Move File Display</h2>
    <h3>How dows this look?</h3>

    <img src="~/tempImages/@ViewBag.fileName" alt="@ViewBag.fileName" />

    using (Html.BeginForm("ApproveFile", "FileUpload", FormMethod.Post))
    {
        <input type="hidden" name="fileToApprove" value="@ViewBag.fileName" />
        <label>Looks Good:</label>
        <input type="radio" name="looks" value="good" />
        <br />
        <label>Looks Bad: </label>
        <input type="radio" name="looks" value="bad" />
        <br />

        <input type="submit" value="Submit" />
    }
}

