@{ 
    ViewBag.Title = "Listings";
}
    <head>
        
        <link href="~/styles.css" rel="stylesheet" />
        <script src="~/jquery.js"></script>
        <script src="~/script.js"></script>

    </head>
<div class="navitop">
    <div class="percent80">
        <div class="menuBtn"><a href="javascript:void(0)">Menu</a>
            <div class="submenu">
                <a href="javascript:void(0)">Home</a>
                <a href="javascript:void(0)" class="active">Listings</a>
                <a href="javascript:void(0)">Buy</a>
                <a href="javascript:void(0)">Sell</a>
                <a href="javascript:void(0)">Rent</a>
                <a href="javascript:void(0)">Create Customer</a>
            </div>
        </div>
        <div class="regularMenu">
            <a href="javascript:void(0)">Home</a>
            <a href="javascript:void(0)" class="active">Listings</a>
            <a href="javascript:void(0)">Buy</a>
            <a href="javascript:void(0)">Sell</a>
            <a href="javascript:void(0)">Rent</a>
        </div>
        <a href="javascript:void(0)" class="createListing">Create Listing</a>
    </div>
</div>
<div class="wrapper">
    <div class="listing">

        <img src="~/images/property1.jpg" />
        <label>Street Address: </label><br />
        <input type="text" /><br />
        <label>Municipality: </label><br />
        <input type="text" /><br />
        <label>Province: </label><br />
        <input type="text" /><br />
        <label>Postal Code: </label><br />
        <input type="text" /><br />
        <label>Square Foots: </label><br />
        <input type="text" /><br />
        <label>Number of Beds: </label><br />
        <input type="text" /><br />
        <label>Number of Baths: </label><br />
        <input type="text" /><br />
        <label>Area of the city: </label><br />
        <input type="text" /><br />
        <label>Summary of Features: </label><br />
        <textarea></textarea><br />
        <label>Type of Heating: </label><br />
        <input type="text" /><br />
        <label>Has fireplace: </label><br />
        <input type="text" /><br />
        <label>Has Garage: </label><br />
        <input type="text" /><br />
        <label>Price: </label><br />
        <input type="text" /><br />
        <label>Listing Agent: </label><br />
        <input type="text" /><br />
        <label>Listing contract signed: </label><br />
        <input type="text" /><br />
        <button>Save</button>
    </div>

    <div class="listing">

        <img src="~/images/property2.jpg" />
        <label>Street Address: </label><br />
        <input type="text" /><br />
        <label>Municipality: </label><br />
        <input type="text" /><br />
        <label>Province: </label><br />
        <input type="text" /><br />
        <label>Postal Code: </label><br />
        <input type="text" /><br />
        <label>Square Foots: </label><br />
        <input type="text" /><br />
        <label>Number of Beds: </label><br />
        <input type="text" /><br />
        <label>Number of Baths: </label><br />
        <input type="text" /><br />
        <label>Area of the city: </label><br />
        <input type="text" /><br />
        <label>Summary of Features: </label><br />
        <textarea></textarea><br />
        <label>Type of Heating: </label><br />
        <input type="text" /><br />
        <label>Has fireplace: </label><br />
        <input type="text" /><br />
        <label>Has Garage: </label><br />
        <input type="text" /><br />
        <label>Price: </label><br />
        <input type="text" /><br />
        <label>Listing Agent: </label><br />
        <input type="text" /><br />
        <label>Listing contract signed: </label><br />
        <input type="text" /><br /><br />
        <button type="submit" class="btn btn-success">Save</button>
    </div>

    <div class="listing">

        <img src="~/images/property3.jpg" />
        <label>Street Address: </label><br />
        <input type="text" /><br />
        <label>Municipality: </label><br />
        <input type="text" /><br />
        <label>Province: </label><br />
        <input type="text" /><br />
        <label>Postal Code: </label><br />
        <input type="text" /><br />
        <label>Square Foots: </label><br />
        <input type="text" /><br />
        <label>Number of Beds: </label><br />
        <input type="text" /><br />
        <label>Number of Baths: </label><br />
        <input type="text" /><br />
        <label>Area of the city: </label><br />
        <input type="text" /><br />
        <label>Summary of Features: </label><br />
        <textarea></textarea><br />
        <label>Type of Heating: </label><br />
        <input type="text" /><br />
        <label>Has fireplace: </label><br />
        <input type="text" /><br />
        <label>Has Garage: </label><br />
        <input type="text" /><br />
        <label>Price: </label><br />
        <input type="text" /><br />
        <label>Listing Agent: </label><br />
        <input type="text" /><br />
        <label>Listing contract signed: </label><br />
        <input type="text" /><br /><br />
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</div>